* {
    padding: 0;
    margin: 0;
}

#heroSection{
    background-image: url("../img/extracted_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

#topNav{
    height: 50px;
    
}